{% extends "Solver/base.html" %}
		
{% comment %}{% load "../../templatetags/customtags" %}{% endcomment %}

{% load customtags %}

{% block body %}
	{% if user.id == student.id %}
	<a class="btn btn-outline-warning" href="{% url 'demands_detail' item.id %}" role="button">
		<img src="https://img.icons8.com/ios/50/000000/back--v1.png"/>
	</a>
	<a class="btn btn-outline-warning" href="{% url 'demands_delete' item.id %}" role="button">
		<img src="https://img.icons8.com/ios/50/000000/delete--v1.png"/>
	</a>
	{% endif %}
{% endblock %}

